<div class="eight columns offset-by-two">
<a href="/contact">
	<img src="/images/scott.jpg" alt="">
</a>
</div>
<div class="row"></div>


	<h2>Chef</h2>
	<h2>Karaoke Legend</h2>
	<h2>Multi-Instrumentalist</h2>
	<h2>Web Developer</h2>
	<h2>Ruby</h2>
	<h2>Python</h2>
	<h2>HTML</h2>
	<h2>CSS</h2>
