<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/skeleton.css">
		<link rel="stylesheet" href="/stylesheets/layout.css">

		<title>Scott</title>
<!-- 
		<style>
			.columns {
				background-color: lightgrey;
			}
		</style>
 -->	
	</head>
	<body>
		<div class="container">
			<!-- <div class="sixteen columns"> -->
			<!-- <div class="row"></div> -->
			<div class="offset-by-four twelve columns">
				<h1 class="four columns">Scott</h1>
				<h1 class="four columns">Norvell</h1>
			</div>
			<div class="row"></div>
			
			<%= yield %>
			<!-- </div> -->
		</div>
	</body>
</html>